<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change Page</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        
        {% if frm.non_field_errors %}
            {% for error in frm.non_field_errors %}
                <p style="color:red;">{{error}} </p>
            {% endfor %}
        {% endif %}

        {% for frm in fm %}
            {{frm.label}} {{frm}} {{frm.errors|striptags}}<br><br>
        {% endfor %}    
        <input type="submit" value='submit'>
    </form>
     <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'profile' %}">Profile</a>
</body>
</html>